

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body{ background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=") repeat scroll 0 0 #222222;  margin: 0;padding: 0;}
header { color: #FFFFFF; padding: 0 20px;}




.main { background-color: #EEEEEE;}

.wrapper { padding: 20px; }
